# Sphinx documentation
docs/_build/
docs/source/_autosummary/
docs/source/jupyter/*.png
docs/source/jupyter/*_*.rst

# VSCode
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Scratch files
*scratch*

# pixi environments
.pixi
*.egg-info

# Added by cargo
/target
