name: Codecov

on:
  push:
    branches: [main]
    paths:
      - compass/**
      - tests/**
      - .github/workflows/codecov.yml
      - pyproject.toml
      - pixi.lock
  pull_request:
    paths:
      - compass/**
      - tests/**
      - .github/workflows/codecov.yml
      - pyproject.toml
      - pixi.lock
  workflow_dispatch:

jobs:
  run:
    name: Codecov
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        fetch-tags: true

    - uses: prefix-dev/setup-pixi@v0.9.3
      with:
        pixi-version: v0.59.0
        locked: true
        cache: true
        cache-write: false
        environments: pdev

    - name: Generate coverage report
      run: |
        pixi reinstall -e pdev --locked NREL-COMPASS
        pixi run -e pdev --locked tests-p

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
        verbose: true
